header {
    background-color: #ffffff; /* White background */
    color: #333; /* Dark text */
    padding: 2rem;
    border-bottom: 1px solid #ddd; /* Light gray border */
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.sContainer {
    display: flex;
    flex-wrap: wrap; 
    width: 640px; 
    height: 640px; 
    background-color: lightgrey; /* Temporary color for visibility */
    border: 1px solid #ddd; /* Optional: To visualize the container boundaries */
}

.square {
    flex: 0 0 40px; 
    height: 40px;
    width: 40px;
    background-color: rgb(214, 211, 211); /* To ensure visibility */
    border: 1px solid #bcbcbc; /* To visualize the item boundaries */
    box-sizing: border-box; /* Ensures border is included in width/height calculations */
}

footer {
    background-color: #ffffff;
    color: #333;
    padding: 1rem;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
    text-align: center;
}