body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
    align-items: center;
    justify-content: center; /* Center items vertically */
}

.sContainer {
    display: flex;
    flex-wrap: wrap; 
    width: 256px; 
    height: 270px; 
    background-color: lightgrey; /* Temporary color for visibility */
    border: 1px solid black; /* Optional: To visualize the container boundaries */
}

.square {
    flex: 0 0 16px; 
    height: 16px;
    width: 16px;
    background-color: brown; /* To ensure visibility */
    border: 1px solid #000; /* To visualize the item boundaries */
    box-sizing: border-box; /* Ensures border is included in width/height calculations */
}